In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data_2.csv to data_2 (1).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['data_2.csv']))

In [ ]:
df.head()

      City Brand
0   Mumbai     B
1   Mumbai     A
2  Chennai     B
3  Chennai     A
4  Chennai     D

In [ ]:
contigentab = pd.crosstab(df.City, df.Brand, margins = True)
contigentab

Brand      A    B    C    D  All
City
Chennai  165   47    2  194  408
Mumbai   259   73  125    0  457
All      424  120  127  194  865

In [ ]:
cities = list(df['City'].unique())
brand = list(df['Brand'].unique())

In [ ]:
exp_freq = {}
for i in cities:
  exp = {}
  for j in brand:
    exp[j] = contigentab.transpose()[i]['All'] * contigentab[j]['All']/contigentab['All']['All']
    exp_freq[i] = exp

In [ ]:
exp_freq

{'Chennai': {'A': 199.99075144508672,
  'B': 56.60115606936416,
  'C': 59.902890173410405,
  'D': 91.50520231213874},
 'Mumbai': {'A': 224.00924855491328,
  'B': 63.39884393063584,
  'C': 67.0971098265896,
  'D': 102.49479768786126}}

In [ ]:
chi_square = 0
for i in cities:
  for j in brand:
    val = (contigentab.transpose()[i][j] - exp_freq[i][j])**2/exp_freq[i][j]
    chi_square = chi_square  + val

In [ ]:
chi_square

337.9075385764012

In [ ]:
dof = (len(cities)- 1)* (len(brand)-1)
dof

3

In [ ]:
stats.chi2.ppf(1-0.05,df = dof)

7.814727903251179

#Q23

In [ ]:
127/865

0.14682080924855492

In [ ]:
1-stats.chi2.cdf(chi_square, dof)

0.0

In [ ]:
contab = np.array([contigentab.transpose()['Chennai'][0:4].values,contigentab.transpose()['Mumbai'][0:4].values])
stats.chi2_contingency(contab)

(337.9075385764012,
 6.19339661752056e-73,
 3,
 array([[199.99075145,  56.60115607,  59.90289017,  91.50520231],
        [224.00924855,  63.39884393,  67.09710983, 102.49479769]]))